/* Style sheet for burger ordering website */

@import url("reset.css");
@import url("https://fonts.google.com/specimen/Sometype+Mono?classification=Monospace&stroke=Sans+Serif");

body {
    font-family: "Sometype Mono", sans-serif;
    font-size: 12pt;
}

a, strong, em {
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}